body
{
    margin: 0;
    padding: 0;
}
#page1
{
    position: fixed;
    margin: 0;
    padding: 0;
}
#panel-poidetail
{
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: none;
    align-self: baseline|center;
}
