body
{
    margin: 0;
    padding: 0;
}
#page1
{
    position: fixed;
    margin: 0;
    padding: 0;
}
#panel-poidetail
{
    position: absolute;
    bottom: 0%;
    width: 100%;
    display: none;
    align-self: baseline|center;
}
.radarContainer_left {
	position:absolute;
	top:0px;
	right:0px;
	width:100px;
	height:100px;
}
#overflowBtn
{
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
}