body
{
    margin: 0px;
    padding: 0px;
}
#loadingMessage
{
	font-size: large;
	position: absolute;
	width: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #BBBBBB;
	text-align: center;
	top: 0;
	left: 0;
	opacity: 0.7;
}
#backBtn
{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 28px;
    width: 28px;
}
#overflow
{
    position: fixed;
    right: 0px;
    bottom: 0px;
    align-self: stretch;
}
#controls
{
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: none;
    align-self: baseline|center;
}